# Xcode files
.DS_Store
*.xcuserdata
*.xcuserstate
*.swp
*.xcscmblueprint

# Derived data
DerivedData/

# Build products
build/
*.ipa
*.app

# Swift Package Manager
.swiftpm/
.build/

# Plist
PhoneAuth/GoogleService-Info.plist
PhoneAuth/GeminiAPI.plist
*.plist

PhoneAuth.xcodeproj/xcuserdata/
PhoneAuth.xcworkspace/xcshareddata/
Pods/Pods.xcodeproj/xcuserdata/
GymFlow.xcodeproj/xcuserdata/
GymFlow.xcworkspace/xcuserdata/
