<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516874605026-vjjkc08gjq4j7hm82qrr7ojj0knsjfhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516874605026-vjjkc08gjq4j7hm82qrr7ojj0knsjfhp</string>
	<key>API_KEY</key>
	<string>AIzaSyCTgP5-421awf4Yusf8QOrwt1q2NPnKGng</string>
	<key>GCM_SENDER_ID</key>
	<string>516874605026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team05.PhoneAuth</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-1f494</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-1f494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516874605026:ios:13035d367643aff97529bb</string>
</dict>
</plist>